<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Essential permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".VortexApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:theme="@style/Theme.VortexAndroid"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        
        <!-- Remove WorkManager initialization provider for on-demand initialization -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.VortexAndroid">
        </activity>
        
        <!-- Icon Aliases -->
        <activity-alias android:name=".MainActivityDefault" android:enabled="true" android:exported="true" android:icon="@drawable/ic_launcher" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon1" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon1" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon2" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon2" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon3" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon3" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon4" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon4" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon5" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon5" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon6" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon6" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon7" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon7" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon8" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon8" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon9" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon9" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon10" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon10" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon11" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon11" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon12" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon12" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon13" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon13" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon14" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon14" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon15" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon15" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon16" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon16" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MainActivityIcon17" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_icon17" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        
        <!-- Generation Service -->
        <service
            android:name=".services.GenerationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        
        <!-- FileProvider for app updates -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
    </application>

</manifest> 